*{
    padding:0px;
    margin:0px;
}
html,body{
    height:100%;
    width:100%;
    background-color:rgb(11, 1, 1);
}
.mainH{
    height:22vh;
    width:32vw;
    background-color: black;
    position: absolute;
    left:19%;
    top:10%;
    font-size:4.5vw;
}
#heading1{
    color:white;
    
    font-weight:bolder;
    font-size:1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
#heading2{
    color:yellow;
    font-weight:bolder;
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.container{
    height:5.5vw;
    width:42vw;
    background-color: rgb(129, 99, 99);
    position: absolute;
    top:37%;
    left:19%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#calender{
    height:50%;
    width:40%;
    border: none;
    border-radius: 4px;
    /* position: relative;
    top:20px;
    left:30px; */
    outline: none;
    cursor:pointer;
    font-size: 20px;
}
#calButn{
    height:50%;
    width:40%;
    border: none;
    border-radius: 4px;
    /* position: relative;
    top:20px;
    left:100px; */
    outline: none;
    cursor:pointer;
    font-size: 20px;
    background-color: yellow;
}
#msg{
    position: relative;
    top:55%;
    left:19%;
    color:white;
}
@media (max-width:426px) {
    .mainH{
        height:22vh;
        width:32vw;
        background-color: black;
        position: absolute;
        left:5%;
        top:30%;
        font-size:4.5vw;
    }
    #msg{
        position: relative;
        top:47%;
        left:5%;
        color:white;
    }
    .container{
        height:15vw;
        width:90vw;
        background-color: rgb(129, 99, 99);
        position: absolute;
        top:37%;
        left:5%;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
   
}
 @media screen and (min-width: 426px) and  (max-width:576px) {
    .mainH{
        height:22vh;
        width:32vw;
        background-color: black;
        position: absolute;
        left:5%;
        top:25%;
        font-size:4.5vw;
    }
    #msg{
        position: relative;
        top:51%;
        left:5%;
        color:white;
    }
    .container{
        height:15vw;
        width:90vw;
        background-color: rgb(129, 99, 99);
        position: absolute;
        top:37%;
        left:5%;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
   
}
@media screen and (min-width: 576px) and  (max-width:767px) {
    .mainH{
        height:22vh;
        width:32vw;
        background-color: black;
        position: absolute;
        left:5%;
        top:25%;
        font-size:4.5vw;
    }
    #msg{
        position: relative;
        top:49%;
        left:5%;
        color:white;
    }
    .container{
        height:10vw;
        width:90vw;
        background-color: rgb(129, 99, 99);
        position: absolute;
        top:37%;
        left:5%;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and  (max-width:991px) {
    .mainH{
        height:22vh;
        width:32vw;
        background-color: black;
        position: absolute;
        left:8%;
        top:25%;
        font-size:4.5vw;
    }
    #msg{
        position: relative;
        top:52%;
        left:8%;
        color:white;
    }
    .container{
        height:8vw;
        width:70vw;
        background-color: rgb(129, 99, 99);
        position: absolute;
        top:40%;
        left:8%;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}